html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: bisque
}

#container {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.options-menu {
  position: fixed;
  min-width: unset;
  top: 5px;
  right: 5px;
  max-height: calc(100vh - 10px);
}

@media (max-width: 480px) {
  .options-menu {
    visibility: hidden;
    bottom: 5px;
    left: 5px;
  }

  .options-menu-visible {
    visibility: visible;
  }

  .phone-menu-toggler {
    visibility: visible;
    position: fixed;
    top: 5px;
    right: 5px;
  }
}